# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebooks checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual Environments
.venv/
venv/
ENV/
env/
pyvenv.cfg
.python-version

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Temporary uploads in yolo_demo
yolo_demo/uploads/*
!yolo_demo/uploads/.gitkeep

# Large ML Weights (uncomment if you wish to exclude weights from git)
# trained_weights/*.pt
